<h1>Editing whitelist</h1>

<%= render "form", whitelist: @whitelist %>

<br>

<div>
  <%= link_to "Show this whitelist", @whitelist %> |
  <%= link_to "Back to whitelists", whitelists_path %>
</div>
