<p style="color: green"><%= notice %></p>

<h1>Event details</h1>

<div id="event_details">
  <% @event_details.each do |event_detail| %>
    <%= render event_detail %>
    <p>
      <%= link_to "Show this event detail", event_detail %>
    </p>
  <% end %>
</div>

<%= link_to "New event detail", new_event_detail_path %>
