<h1>Editing child detail</h1>

<%= render "form", child_detail: @child_detail %>

<br>

<div>
  <%= link_to "Show this child detail", @child_detail %> |
  <%= link_to "Back to child details", child_details_path %>
</div>
